.content
  min-height calc(100vh - 84px)
  padding 5px
  overflow-y scroll
  margin 24px 16px 0
.ant-card
  height 100%
aside.ant-layout-sider.ant-layout-sider-dark
  box-shadow 0 0 10px #999
.ant-card-body
  padding 5px 13px
  position relative
:global
  .ant-spin
    padding-top 100px