@import ('./antd-cover.styl')
body
  margin 0
  font-family Open Sans, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif !important
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  background-color #f4f4f4 !important
*
  margin 0
  padding 0
code
  font-family source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
